# Data Science Tools and Ecosystem

In this notebook, I will summarize some of the tools and techniques used by data scientists. I will include examples of languages, libraries, tools, and simple arithmetic operations.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

## Commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool | Category |
|------|----------|
| Jupyter Notebook | IDE |
| RStudio | IDE |
| Apache Spark | Big Data |
| TensorFlow | Deep Learning |
| Tableau | Visualization |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This expression multiplies 3 by 4 and adds 5 to the result
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours
200 / 60

3.3333333333333335

## Objectives:
- List popular languages for Data Science
- List commonly used libraries
- List popular tools in a table
- Perform arithmetic expressions
- Convert minutes to hours

## Author:
Noor Aldawood